In [1]:
#import library
import pandas as pd

data_german = pd.read_csv('D:\german_credit.csv',delimiter=',') 

#menampilkan beberapa baris pertama datapilot
data_german.head()

,Creditability,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Property,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,1,account < 0,18,critical account,funiture,1049,100 <= savings < 500,employed < 1 year,4,female-divorced/married,...,4,building society,21,none,rent,1,skilled employee,1,none,yes
1,1,account < 0,9,critical account,car-new,2799,500 <= savings < 1000,1 <= employed < 4 years,2,male-single,...,2,real estate,36,none,rent,2,skilled employee,2,none,yes
2,1,0 <= account < 200,12,existing credits,business,841,savings >= 1000,4 <= employed < 7 years,2,female-divorced/married,...,4,real estate,23,none,rent,1,unskilled-resident,1,none,yes
3,1,account < 0,12,critical account,car-new,2122,500 <= savings < 1000,1 <= employed < 4 years,3,male-single,...,2,real estate,39,none,rent,2,unskilled-resident,2,none,no
4,1,account < 0,12,critical account,car-new,2171,500 <= savings < 1000,1 <= employed < 4 years,4,male-single,...,4,building society,38,bank,own,2,unskilled-resident,1,none,no

In [36]:
#memisahkan data variabel X dan variabel Y
y=data_german['Creditability']

x_categorical =data_german[['Account Balance', 'Value Savings/Stocks']]
x_numerical = data_german[['Credit Amount']]

x_ubah = pd.get_dummies(x_categorical[['Account Balance', 'Value Savings/Stocks']],drop_first=True)
x_all = pd.concat([x_ubah, x_numerical], axis = 1)

In [35]:
#pembuatan model berdasarkan data training
from sklearn.tree import DecisionTreeClassifier
pohon = DecisionTreeClassifier()

pohon.fit(x_all, y)

prediksi = pohon.predict(x_all)
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y, prediksi))
print("Precision:",metrics.precision_score(y, prediksi))
print("Recall:",metrics.recall_score(y, prediksi))
print("Specificity:",metrics.recall_score(1-y, 1-prediksi))

Accuracy: 0.995
Precision: 1.0
Recall: 0.9928571428571429
Specificity: 1.0

In [39]:
import pickle

# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(pohon, open(filename, 'wb'))
 
# some time later...

In [41]:
# load the model from disk
loaded_model = pickle.load(open('finalized_model.sav', 'rb'))

In [44]:
result = loaded_model.score(x_all, y)
print(result)

0.995